<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Staff Management System</title>
    <style>
      footer {
        height: 200px;
        border: 1px solid black;
      }
      header {
        height: 200px;
        border: 1px solid black;
      }
      .content {
        min-height: 50vh;
      }
    </style>
  </head>
  <body>
    <header></header>
    <div class="content">
      {% block content %}
        default content
      {% endblock %}
    </div>
    <footer></footer>
  </body>
</html>
